*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
    box-sizing: border-box;
    width: 1440px;
    height: 5970px;

    background: #171717;
    background: #080808;
    font-family: 'DM sans';
}


/* Estilos para tornar o vídeo responsivo */
#video {
    width: 100%; /* Largura máxima de 100% */
    height: auto; /* Altura automática */
}


button:hover{
    cursor: pointer;
}

.background {
    /* Define a posição do fundo para centralizado na horizontal e topo na vertical */
    background-position: center top;
  
    /* Define a imagem de fundo em um elemento separado e diminui o brilho */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/caveiras-wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(50%);
    z-index: -1;
  }

/*------------------------------MODAL--------------------------*/

/* Estilize o modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilize o formulário */
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  





/* ------------------MENU TOPO-------------------*/

nav ul li {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
ul,li, a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    
}
nav{
    margin-top: 40px;
    cursor: pointer;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}

nav ul li a{
    padding: 10px;
}




/*---------------------------------- PERFIL ---------------------------*/



.picture {
    opacity: 0; /* define a opacidade inicial como 0 */
    animation-name: fade-in; /* define o nome da animação */
    animation-duration:1.5s; /* define a duração da animação em segundos */
    animation-delay: 1s; /* define um atraso de 1 segundo para iniciar a animação */
    animation-fill-mode: forwards; /* define que a animação deve manter o estado final (opacidade 1) após a animação */
  }

  .logo-and-button {
    opacity: 0; /* define a opacidade inicial como 0 */
    animation-name: fade-in; /* define o nome da animação */
    animation-duration: 5s; /* define a duração da animação em segundos */
    animation-delay: 0.5s; /* define um atraso de 1 segundo para iniciar a animação */
    animation-fill-mode: forwards; /* define que a animação deve manter o estado final (opacidade 1) após a animação */
  }
  
  @keyframes fade-in {
    from { opacity: 0; } /* define o estado inicial da animação (opacidade 0) */
    to { opacity: 1; } /* define o estado final da animação (opacidade 1) */
  }


.perfil{
    display: flex;
    margin-top: 187px;
    justify-content: space-between;
    align-items: center;
}

#logo-brazart{
    width: 600px;
    height: auto;
    
}

#picture-perfil{
    width: 650px;
    height: 650px;
    left: 702px;
    top: 187px;
}

.perfil h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #828282;
    margin-top:20px;
    margin-left: 10px;
   
}

.logo-and-button{
    display: flex;
    flex-direction: column;
}

#budget{
    width: 423px;
    height: 57px;
    left: 128px;
    top: 577px;

    /* Green 2 */

    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #FFFFFF;
    margin-top: 20px;
    background-image: linear-gradient(to right, #21b4ee, #1b49e0);
    padding: 5px;
    box-shadow: 0 0 0 0 #21b4ee;
    animation: pulse 2s infinite;
    border-radius: 10px;
}
    
#budget-submit{
    width: 423px;
    height: 57px;
    left: 128px;
    top: 577px;

    /* Green 2 */
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #FFFFFF;
    margin-top: 20px;

    background-image: linear-gradient(to right, #21b4ee, #1b49e0);
    padding: 5px;
    box-shadow: 0 0 0 0 #21b4ee;
    animation: pulse 2s infinite;
    border-radius: 10px;

}

.picture{
    display: flex;
    flex-direction: column;

}

.picture h1{
    margin-top: 50px;
    margin-left: 180px;
    font-style: normal;
    font-size: 40px;
    /* identical to box height */


    color: #ACAAAA;
}

 .picture img{
    width: 596.89px;
    height: 596.89px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px rgba(36, 35, 35, 0.5);
    background-color: #1E1D1D;
 }


 .logo-and-button button a {
    color: white;
 }


/*---------------------SEÇÃO QUEM SOU EU---------------------*/

.me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 500px;
}

.me h1{
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 62px;
    text-align: center;

    color: #FFFFFF;
}

.me h3{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    margin-top: 50px;
    width: 100%;

    color: #FFFFFF;
}


/*------------------SEÇÃO CONTATOS-----------------------*/

.contacts{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #FFFFFF;
}

.icons{
    display: flex;
    margin-top: 30px;
    margin-left: -40px;
    
}

.icons img{
    margin-left: 20px;
}




/*---------------SEÇÃO TRABALHOS-----------------*/

.works{
    margin-top: 500px;
}

.works h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    
    color: #FFFFFF;

}



.button-works{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#budget-works{
    width: 423px;
    height: 57px;
    left: 128px;
    top: 577px;

 

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    background-image: linear-gradient(to right, #21b4ee, #1b49e0);
    padding: 5px;
    box-shadow: 0 0 0 0 #21b4ee;
    animation: pulse 2s infinite;
    border-radius: 10px;
}

    @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(33, 180, 238, 0.4);
        }
        70% {
          box-shadow: 0 0 0 20px rgba(33, 180, 238, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(33, 180, 238, 0);
        }
      }

#budget-works a{
    color: white;
    font-weight: bold;
}







/*------------------ OWL CAROUSEL----------------------------*/

.owl-dots {
    text-align: center;
    margin-top: 20px;
  }
  
  .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .owl-dot.active {
    background-color: #000;
  }
  

.wrapper{
    margin-top: 50px;
}

.wrapper img{
    height: 650px;
}


.wrapper .crousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;

}

.carousel .card{
    line-height: 250px;
    text-align: center;
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    margin: 20px 0;
    
 
}




.owl-dots{
    text-align: center;
    margin-top: 40px;
    

}
.owl-dot{
    height: 15px;
    width: 45px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0px;
    border: 2px solid #1b49e0!important;
    
}

.owl-dot:hover{
    background-color: #1b49e0!important;
}



/* ------------------------------- SEÇÃO ESTRUTURA DO ESTUDIO---------------------------------*/


.structure{
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.structure h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #FFFFFF;
}



/* ------------------------------- SEÇÃO FORMULARIO--------------------------------*/

.form  {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #FFFFFF;
}

.form h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    /* Gray 2 */

    color: #4F4F4F;
}

.form-inputs{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 90px;
    column-gap: 0px;
    margin-left: 30px;
    width:900px;
}

.form-inputs input{
    background: #080808;
    width: 390px;
    border-top:0px;
    border: 0px;
    border-bottom: 1px solid #4F4F4F;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color:white;
    

}

.messenger{
    margin-top: 80px;
    width: 60%;

}

.messenger textarea{
    background: #080808;
    width: 100%;
    border: 1px solid #4F4F4F;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color:white;
    padding: 10px 0px 0px 10px;
    height: 150px;
}


/*----------------- RODAPÉ-------------------------*/


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 550px;
    padding: 0px 0px 50px;
}
footer h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    /* Gray 2 */

    color: #4F4F4F;
}

#contact-joao a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    /* Gray 2 */

    color: #4F4F4F;

}

























/* -------------------- RESPONSIVIDADE DO SITE-----------------------------*/

@media screen and (max-width:700px) {
    body{
        width: 85%;
        margin-left: 0%;
        margin-right: 0%;
        height: 1000px;
      
    
    
    }

    .encapsulamento{
        margin-left: 5%;
    }
/* -------------------------------- INICIO PERFIL --------------------------*/
    .perfil{
        width:100%;
        display: flex;
        flex-direction: column;
    }

    #logo-brazart{
        width: 100%;

    }

   

   .picture{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 2%;
    
   }

 
   #picture-perfil{
   
    width:150%;
    height: auto;
   }

   .picture h1{
    margin-left: 5%;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
   }

   .logo-and-button h3{
    margin-left: 0%;
    width: 100%;
    font-size: 0.9rem;
   }

   #budget{
    width: 100%;
    height: auto;
    font-size: 0.9rem;
   
   }

 



   nav li a {
    font-size: 1rem;
   }

/* -------------------------------- SEÇÃO QUEM SOU EU--------------------------*/

.me{
    margin-top: 200px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.me h1 {
    font-size: 1.5rem;
    width: 100%;
}

.me h3{
    font-size: 1rem;
    line-height: 30px;

}


/* -------------------------------- SEÇÃO CONTATOS OFICIAIS-------------------------*/

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 200px;

    
}
.contacts h1{
width: 90%;
margin-left: 5%;
font-size: 1.7rem;
}

.icons img{
    width: 70%;
    margin-left: 50%;
   
}






/*--------------------------------------------- SEÇÃO TRABALHOS----------------------------------------*/

.works{
    width: 100%;
    margin-left: 10%;
    margin-top: 100px;

}

.works h1{
    font-size: 2rem;
}

.wrapper{
    margin-top: 10px;
}


/* ---------------- OWL CAROUSEL -------------------*/

.wrapper img{
    height: 700px;
}


.wrapper .crousel{
    max-width: 100%;
    margin: auto;
    padding: 0 30px;

}





.owl-dots{
    text-align: center;
    margin-top: 10px;
    

}
.owl-dot{
    height: 15px;
    width: 45px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0px;
    border: 2px solid #1b49e0!important;
    
}

.owl-dot:hover{
    background-color: #1b49e0!important;
}


.button-works{
    margin-top: 40px;
}

#budget-works{
    width: 100%;
    font-size: 1rem;

}


/* ---------------- SEÇÃO ESTRUTURA -------------------*/







/* ---------------- SEÇÃO FORMULARIO -------------------*/


.form{
    display: flex;
    flex-direction: column;
}

.form-text{
    display: flex;
}

.form-inputs{
    display: flex;
    flex-direction: column; 
    width: 90%;
}

.form-inputs input{
    width: 100%;
}

.form-text h3{
    margin-left: 10%;
}

textarea{
    width: 100%;
}

.messenger{
    width: 100%;
    margin-left: 10%;
}

#budget {
    margin-left: 0%;
}

#budget-submit{
    margin-left: 10%;
    width: 423px;
    height: 57px;
    left: 128px;
    top: 577px;

    /* Green 2 */

    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #FFFFFF;
    margin-top: 20px;

    width: 100%;
    height: auto;
    font-size: 0.9rem;
    background-image: linear-gradient(to right, #21b4ee, #1b49e0);
    padding: 5px;
    box-shadow: 0 0 0 0 #21b4ee;
    animation: pulse 2s infinite;
    border-radius: 10px;
}



/*---------------------------------------------RODAPÉ----------------------------------*/



footer{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    text-align: center;
    margin-top: 50px;
}























}